<!DOCTYPE html>
<html th:replace="~{mypage/template :: mypageTemplate('account',~{::content})}"
      xmlns:th="http://www.thymeleaf.org">
<style>

</style>
<head>
</head>
<body>
<section>
    <div class="container" th:fragment="content">
        <h5 class="fw-bold"> 내 정보</h5>
        <form method="post" action="/user/modify">
            <table class="table table-bordered mb-1">
                <tr>
                    <th class="text-nowrap">
                        프로필 사진
                    </th>
                    <td>
                        <img th:if="${user.pimg==null}" class="rounded mb-2" src="https://img.peterpanz.com/images/img-profile-user.png"
                             style="height: 100px;width: 100px;">

                        <img th:unless="${user.pimg==null}" class="rounded mb-2"
                             th:src="${user.userJoinType.toString()=='KAKAO'}?${user.pimg}:'asd'"
                             style="height: 100px;width: 100px;">

                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="customFile" style="display: none;">
                            <label class="custom-file-label btn btn-secondary opacity-75" for="customFile">사진 선택</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        이름
                    </th>
                    <td>
                        <input class="form-control" name="name" th:field="${user.name}">
                    </td>
                </tr>
                <tr>
                    <th>휴대폰 번호</th>
                    <td th:unless="${user.phone==null}">
                        <div th:text="${user.phone}">
                        </div>
                        <div> 휴대폰 번호 변경은 고객센터에 문의해 주세요</div>
                    </td>
                    <td th:if="${user.phone==null}">
                        <div class="row g-3">
                            <div class="col">
                                <select class="form-select" aria-label="phoneNumber">
                                    <option selected value="010">010</option>
                                </select>
                            </div>

                            <div class="col">
                                <input class="form-control">
                            </div>

                            <div class="col">
                                <input class="form-control">
                            </div>

                            <div class="col">
                                <input type="submit" class="btn btn-secondary opacity-75" value="인증번호 발송">
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-3">
                                <input class="form-control">
                            </div>
                            <div class="col-3">
                                <input type="submit" class="btn btn-secondary opacity-75" value="인증하기">
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>이메일 주소</th>
                    <td>
                        <input th:unless="${user.email==null}" type="text" readonly class="form-control-plaintext"
                               id="staticEmail" th:value="${user.email}">
                        <input th:if="${user.email==null}" class="form-control" th:field="${user.email}">
                    </td>
                </tr>
            </table>
            <div class="row mb-3">
                <div class="col-9"></div>
                <div class="col-3">
                    <div class="d-flex justify-content-end">
                        <span>
                           <input type="submit" class="btn btn-secondary btn-lg opacity-75" value="정보 수정">
                        </span>
                    </div>
                </div>
            </div>
        </form>

        <form>
            <h5 class="fw-bold"> 비밀번호 변경</h5>
            <table class="table table-bordered mb-1">
                <tr>
                    <th>현재 비밀번호</th>
                    <td>
                        <input type="password" class="form-control">
                    </td>
                </tr>
                <tr>
                    <th>새 비밀번호</th>
                    <td><input type="password" class="form-control"></td>
                </tr>
                <tr>
                    <th>비밀번호 확인</th>
                    <td><input type="password" class="form-control"></td>
                </tr>
            </table>
            <div class="row mb-3">
                <div class="col-9"></div>
                <div class="col-3">
                    <div class="d-flex justify-content-end">
                        <span>
                           <input type="submit" class="btn btn-secondary btn-lg opacity-75" value="비밀번호 변경">
                        </span>
                    </div>
                </div>
            </div>
        </form>

    </div>

</section>
</body>
</html>