<!DOCTYPE html>
<html th:replace="~{mypage/template :: mypageTemplate('account',~{::content})}"
      xmlns:th="http://www.thymeleaf.org">
<style>/*
    API KEY =NCSDPSCNG9CQLBVW
    Secret =NOT2VRY1CMXTDP6T24N0YDYOMJMPCEGG*/
</style>
<head>
</head>
<body>
<section>
    <div class="container" th:fragment="content">
        <h5 class="fw-bold"> 내 정보</h5>
        <form method="post" action="/user/modify" enctype="multipart/form-data">
            <table class="table table-bordered mb-1" th:object="${user}">
                <input type="hidden" th:field="*{id}">
                <tr>
                    <th class="text-nowrap">
                        프로필 사진
                    </th>
                    <td>
                        <img th:if="*{pimg==null}" id="pimgView" class="rounded mb-2"
                             src="https://img.peterpanz.com/images/img-profile-user.png"
                             style="height: 100px;width: 100px;">

                        <img th:unless="*{pimg==null}" id="pimgView" class="rounded mb-2"
                             th:src="|/images/*{pimg}|"
                             style="height: 100px;width: 100px;">

                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="pimg" name="pimg" style="display: none;">
                            <label class="custom-file-label btn btn-dark" for="pimg">사진 선택</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>
                        이름
                    </th>
                    <td>
                        <input class="form-control" name="name" th:field="*{name}">
                    </td>
                </tr>
                <tr>
                    <th>휴대폰 번호</th>
                    <td th:unless="*{phone==null}">
                        <div class="fw-bold"
                             th:text="|*{phone.substring(0,3)}-*{phone.substring(3,7)}-*{phone.substring(7,11)}|">

                        </div>

                        <div class="fw-bold"> 휴대폰 번호 변경은 고객센터에 문의해 주세요</div>
                    </td>
                    <td th:if="*{phone==null}">
                        <div class="row g-3">
                            <div class="col">
                                <select class="form-select" name="exTel" aria-label="phoneNumber">
                                    <option selected value="010">010</option>
                                </select>
                            </div>

                            <div class="col">
                                <input type="tel" name="exTel" class="form-control">
                            </div>

                            <div class="col">
                                <input type="tel" name="exTel" class="form-control">
                            </div>

                            <div class="col">
                                <input type="hidden" name="tel">
                                <input type="button" id="send_btn" class="btn btn-dark" value="인증번호 발송">
                            </div>
                        </div>

                        <div class="row mt-2">
                            <div class="col-3">
                                <input id="valid_number" class="form-control">
                            </div>
                            <div class="col-3">
                                <input type="button" id="valid_btn" name="valid_btn" class="btn btn-dark" value="인증하기"
                                       disabled>
                            </div>
                        </div>
                        <div class="row">
                            <div id="tel_sign" class="fw-bold">인증을 완료하지 않으면 휴대폰 번호 수정이 불가합니다.</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>이메일 주소</th>
                    <td>
                        <div class="fw-bold"th:unless="*{email==null}" th:text="*{email}">이메일</div>
                        <input th:if="*{email==null}" class="form-control" th:field="*{email}">
                    </td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td>
                        <div class="row mb-2">
                            <div class="col-5">
                                <input type="text" class="form-control" th:id="postcode" th:name="postcode" th:value="${user.address.postcode}"   placeholder="우편번호">
                            </div>
                            <div class="col-3">
                                <input type="button" class="btn btn-dark" onclick="daumPostcode()" value="우편번호 찾기">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-8">
                                <input type="text" class="form-control" th:id="address" th:name="address" th:value="${user.address.address}" placeholder="주소">
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-5">
                                <input type="text" class="form-control" th:id="detailAddress" th:name="detailAddress" th:value="${user.address.detailAddress}" placeholder="상세주소">
                            </div>
                            <div class="col-3">
                                <input type="text" class="form-control" th:id="extraAddress" th:name="extraAddress" th:value="${user.address.extraAddress}" placeholder="참고항목">
                            </div>
                        </div>


                    </td>
                </tr>
            </table>
            <div class="row mb-3">
                <div class="col-9"></div>
                <div class="col-3">
                    <div class="d-flex justify-content-end">
                        <span>
                           <input type="submit" class="btn btn-dark btn-lg " value="정보 수정">
                        </span>
                    </div>
                </div>
            </div>
        </form>

        <form th:if="${user.userJoinType==T(project.project.domain.enum_type.UserJoinType).NORMAR}"
              action="/user/pw_change" method="post" id="pw_change">
            <h5 class="fw-bold"> 비밀번호 변경</h5>
            <table class="table table-bordered mb-1">
                <tr>
                    <th>새 비밀번호</th>
                    <td><input type="password" name="pw" id="pw" class="form-control" placeholder="8자리 이상(문자+숫자+특수기호)">
                    </td>
                </tr>
                <tr>
                    <th>비밀번호 확인</th>
                    <td><input type="password" name="pwCheck" id="pwCheck" class="form-control"></td>
                </tr>
            </table>
            <div class="row mb-3">
                <div class="col-9"></div>
                <div class="col-3">
                    <div class="d-flex justify-content-end">
                        <span>
                           <input type="submit" id="pw_btn" class="btn btn-dark btn-lg " value="비밀번호 변경">
                        </span>
                    </div>
                </div>
            </div>
        </form>

        <!--        daum 주소 검색을 위한 js 링크-->
        <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
        <script th:inline="javascript">
            function validPw(pw) {
                let check = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/
                return check.test(pw);
            }

            function swal(title) {
                Swal.fire({
                    title: title,
                    icon: null,
                    showCancelButton: false,
                    confirmButtonText: '확인',
                    confirmButtonColor: `#aaa`
                })
            }

            //비밀번호 변경
            $('#pw_btn').click(function (e) {
                e.preventDefault();
                let pw = $(`#pw`).val();
                let pwCheck = $(`#pwCheck`).val();

                if (!validPw(pw)) {
                    swal("비밀번호의 형식이<br> 올바르지 않습니다.");
                    return;
                }
                if (pw != pwCheck) {
                    swal("비밀번호가<br> 일치하지 않습니다")
                    return;
                }

                Swal.fire({
                    title: "비밀번호가 변경되었습니다.",
                    icon: null,
                    showCancelButton: false,
                    confirmButtonText: '확인',
                    confirmButtonColor: `#aaa`
                }).then(function () {
                    $('#pw_change').submit();
                })
            })


            // 휴대폰 인증 ajax
            $("#send_btn").click(function () {
                let telValues = "";
                $(`[name="exTel"]`).each(function () {
                    telValues += $(this).val();
                })


                if (telValues.length != 11) {
                    swal("전화번호 형식이 <br>알맞지 않습니다.");
                    return;
                }

                $.ajax({
                    url: "/user/send_sms",
                    type: "POST",
                    data: {
                        tel: telValues
                    }
                }).done(function (data) {
                    swal('인증번호가 발송되었습니다.');
                    $(`input[name="valid_btn"]`).prop(`disabled`, false);

                    $(`input[name="exTel"]`).change(function (){
                        $(`input[name="valid_btn"]`).prop(`disabled`, true);
                    })
                    $("#send_btn").click(function (){
                        data=null;
                    })

                    $(`input[name="valid_btn"]`).click(function () {

                        if ($("#valid_number").val() == data) {
                            swal("인증이 완료되었습니다.");
                            $('[name="tel"]').val(telValues);
                            $(`[name="exTel"]`).prop(`disabled`, true);
                            $(`input[name="valid_btn"]`).prop(`disabled`, true);
                            $("#valid_number").prop(`disabled`, true);
                            $("#send_btn").prop('disabled',true);
                        } else {
                            swal("인증번호가 일치하지 않습니다.")
                        }
                    })
                }).fail(function (err) {
                    alert(err);
                })
            })

            //프로필 사진 변경시 미리보기
            $('#pimg').change(function () {
                let file = this.files[0];
                let reader = new FileReader();

                reader.onload = function (e) {
                    $('#pimgView').attr('src', e.target.result);
                }

                reader.readAsDataURL(file);
            })

            //주소 검색
            function daumPostcode() {
                new daum.Postcode({
                    oncomplete: function (data) {
                        // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                        // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                        // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                        var addr = ''; // 주소 변수
                        var extraAddr = ''; // 참고항목 변수

                        //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                        if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                            addr = data.roadAddress;
                        } else { // 사용자가 지번 주소를 선택했을 경우(J)
                            addr = data.jibunAddress;
                        }

                        // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                        if (data.userSelectedType === 'R') {
                            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                            if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                                extraAddr += data.bname;
                            }
                            // 건물명이 있고, 공동주택일 경우 추가한다.
                            if (data.buildingName !== '' && data.apartment === 'Y') {
                                extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                            }
                            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                            if (extraAddr !== '') {
                                extraAddr = ' (' + extraAddr + ')';
                            }
                            // 조합된 참고항목을 해당 필드에 넣는다.
                            document.getElementById("extraAddress").value = extraAddr;

                        } else {
                            document.getElementById("extraAddress").value = '';
                        }

                        // 우편번호와 주소 정보를 해당 필드에 넣는다.
                        document.getElementById('postcode').value = data.zonecode;
                        document.getElementById("address").value = addr;
                        // 커서를 상세주소 필드로 이동한다.
                        document.getElementById("detailAddress").focus();
                    }
                }).open();
            }
        </script>
    </div>

</section>
</body>
</html>