<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>홈앤룸</title>


</head>
<body>
<header th:fragment="header_template" style="padding-bottom: 55px">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-black">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Home And Room</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-3 mb-md-0">
                    <li class="nav-item">
                        <button type="button" class="nav-link active" data-bs-toggle="modal"
                                data-bs-target="#loginModal" data-bs-whatever="@mdo">로그인
                        </button>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">마이페이지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">찜 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">방 내놓기</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <style>
        .nav-item {
            padding-left: 10px;
        }

        #error_div{
            display:none;
        }
    </style>

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="login_form">
                        <div class="mb-3 px-3">
                            <input type="text" class="form-control" id="loginEmail" placeholder="이메일 또는 아이디">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="password" class="form-control" id="loginPw" placeholder="암호">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="submit" class="form-control btn btn-secondary" value="로그인">
                        </div>
                    </form>
                    <div class="mb-3 px-3" style="text-align: center">
                        <a href="#">아이디 찾기 |</a>
                        <a href="#"> 비밀번호 찾기</a>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="px-3">
                        <button type="button" class="nav-link active" data-bs-toggle="modal" data-bs-target="#joinModal"
                                data-bs-whatever="@mdo">회원가입
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="joinModal" tabindex="-1" aria-labelledby="joinModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel2">Join</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 px-3">
                        <div class="bg-danger p-3 form-control text-center text-danger bg-opacity-10" id="error_div">안뇽</div>
                    </div>
                    <form id="join_form">
                        <div class="mb-3 px-3">
                            <input type="text" class="form-control" id="name" name="name" placeholder="이름">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="text" class="form-control" id="joinEmail" name="joinEmail" placeholder="이메일 또는 아이디">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="password" class="form-control" id="joinPw"  name="joinPw" placeholder="암호 8자리 이상(문자+숫자+특수기호)">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="password" class="form-control" id="pw2"  name="pw2" placeholder="암호확인">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="submit" class="form-control btn btn-secondary" value="가입">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function validEmail(email){
            let check=/\S+@\S+\.\S+/;
            return check.test(email);
        }
        function validPw(pw){
            let check=/^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/
            return check.test(pw);
        }

        $('#join_form').submit(function (e){
            e.preventDefault();
            const formData=new FormData(this);
            let err='';
            let name = formData.get('name');
            let joinEmail = formData.get('joinEmail');
            let joinPw =formData.get('joinPw');
            let pw2 = formData.get("pw2");

            if(name==''){
                err="이름을 입력해 주세요";
            }
            else if(!validEmail(joinEmail)){
                err="올바른 이메일 형식을 입력해주세요";
            }
            else if(!validPw(joinPw)){
                err="비밀번호의 형식이 틀렸습니다.";
            }
            else if(joinPw!=pw2){
                err="비밀번호가 일치하지 않습니다.";
            }

            if(err!=''){
                $('#error_div').show();
                $('#error_div').text(err);
                return;
            }
            alert("성공");
            $.ajax({
                type:'POST',
                url:'',
                data:formData,
                dataType:'json',
                processData: false,
                contentType:false
            })
                .done(function (data){

                })
                .fail(function (error){

                })
        })

        $('login_form').submit(function (e){
            e.preventDefault();
            const formData=new FormData(this);

            $.ajax({
                type:'POST',
                url:'',
                data:formData,
                dataType:'json',
                processData: false,
                contentType: false
                })
                .done(function (data){

                                })
                .fail(function (error){

                                })
        })
    </script>
</header>

</body>
</html>

