<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>홈앤룸</title>


</head>
<body>
<header th:fragment="header_template" style="padding-bottom: 55px">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-black">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home And Room</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-3 mb-md-0">
                    <li class="nav-item">
                        <button th:if="${session.user}==null" type="button" class="nav-link active"
                                data-bs-toggle="modal" id="loginButton"
                                data-bs-target="#loginModal" data-bs-whatever="@mdo">로그인
                        </button>
                        <a th:unless="${session.user}==null" class="nav-link active" aria-current="page" href="/logout">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active atag" aria-current="page" href="/mypage/account">마이페이지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active atag" aria-current="page" href="#">찜 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active atag" aria-current="page" href="/room/registration">방 내놓기</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active atag" aria-current="page" th:href="@{/room/management/{userId} (userId=${session.user})}">매물 관리</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <style>
        .nav-item {
            padding-left: 10px;
        }

        .error_div {
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:inline="javascript">
        $('.nav-link.active.atag').on('click', function (event) {
            event.preventDefault(); // 기본 동작 취소
            if ([[${session.user}]] != null) {
                location.href = $(this).attr('href');
            } else {
                alert("실행");
                $('#loginButton').click();
            }
        });
    </script>
</header>
<div th:fragment="header_modal">
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
            integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx"
            crossorigin="anonymous"></script>


    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 px-3">
                        <div class="bg-danger p-3 form-control text-center text-danger bg-opacity-10 error_div"
                             id="login_error" th:text="#{loginError}"></div>
                    </div>
                    <form id="login_form">
                        <div class="mb-3 px-3">
                            <input type="text" class="form-control" id="loginEmail" name="loginEmail"
                                   placeholder="이메일 또는 아이디">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="password" class="form-control" id="loginPw" name="loginPw" placeholder="암호">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="submit" class="form-control btn btn-secondary" value="로그인">
                        </div>
                    </form>
                    <div class="mb-3 px-3">
                        <a href="#" onclick="kakaoLogin()"><img th:src="@{/img/kakao_login_medium_wide.png}" width="100%"></a>

                    </div>
                    <div class="mb-3 px-3" style="text-align: center">
                        <a href="#">아이디 찾기 |</a>
                        <a href="#"> 비밀번호 찾기</a>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="px-3">
                        <button type="button" class="nav-link active" data-bs-toggle="modal" data-bs-target="#joinModal"
                                data-bs-whatever="@mdo">회원가입
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" id="joinModal" tabindex="-1" aria-labelledby="joinModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel2">Join</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 px-3">
                        <div class="bg-danger p-3 form-control text-center text-danger bg-opacity-10 error_div"
                             id="join_error"> 검증 에러
                        </div>
                    </div>
                    <form id="join_form">
                        <div class="mb-3 px-3">
                            <input type="text" class="form-control" id="name" name="name" placeholder="이름">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="text" class="form-control" id="joinEmail" name="joinEmail"
                                   placeholder="이메일 또는 아이디">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="password" class="form-control" id="joinPw" name="joinPw"
                                   placeholder="암호 8자리 이상(문자+숫자+특수기호)">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="password" class="form-control" id="pw2" name="pw2" placeholder="암호확인">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="submit" class="form-control btn btn-secondary" value="가입">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <script th:inline="javascript">
        // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해야 합니다.
        Kakao.init('aad77ce5fb25c098c085b83a13dbad40');

        function kakaoLogin() {
            Kakao.Auth.authorize({
                redirectUri: `http://localhost:7080/kakao/login`
            })

        }




        function validEmail(email) {
            let check = /\S+@\S+\.\S+/;
            return check.test(email);
        }

        function validPw(pw) {
            let check = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/
            return check.test(pw);
        }

        $('#join_form').submit(function (e) {
            e.preventDefault();
            const formData = new FormData(this);
            let err = '';
            let name = formData.get('name');
            let joinEmail = formData.get('joinEmail');
            let joinPw = formData.get('joinPw');
            let pw2 = formData.get("pw2");

            if (name == '') {
                err = [[#{name}]];
            } else if (!validEmail(joinEmail)) {
                err = [[#{joinEmail}]];
            } else if (!validPw(joinPw)) {
                err = [[#{joinPw}]];
            } else if (joinPw != pw2) {
                err = [[#{notAccordPw}]];
            }

            if (err != '') {
                $('#join_error').show();
                $('#join_error').text(err);
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/join',
                data: formData,
                dataType: 'text',
                processData: false,
                contentType: false
            })
                .done(function (data) {
                    let result = data;
                    if (data == "ok") {
                        Swal.fire({
                            title: '가입이 완료되었습니다. <br> 로그인 해주세요',
                            icon: null,
                            showCancelButton: false,
                            confirmButtonText: '확인',
                            confirmButtonColor: `#aaa`
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.href = "/";
                            }
                        });
                    } else {
                        $('#join_error').show();
                        $('#join_error').text([[#{duplicateEmail}]]);

                    }
                })
                .fail(function (error) {
                    alert(error);
                })
        })

        $('#login_form').submit(function (e) {

            e.preventDefault();
            const formData = new FormData(this);

            $.ajax({
                type: 'POST',
                url: '/login',
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false
            })
                .done(function (data) {
                    if (data) {
                        location.href = "/";
                    } else {
                        $('#login_error').show();
                    }
                })
                .fail(function (error) {

                })
        })


    </script>
</div>

</body>
</html>

