<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>홈앤룸</title>


</head>
<body>
<header th:fragment="header_template" style="padding-bottom: 55px">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-black">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Home And Room</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav ms-auto mb-3 mb-md-0">
                    <li class="nav-item">
                        <button th:if="${session.user}==null" type="button" class="nav-link active"
                                data-bs-toggle="modal" id="loginButton"
                                data-bs-target="#loginModal" data-bs-whatever="@mdo">로그인
                        </button>
                        <a th:unless="${session.user}==null" class="nav-link active" aria-current="page" href="/logout">로그아웃</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active atag" aria-current="page" th:href="@{/mypage/account/{userId}(userId=${session.user})}">마이페이지</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active atag" aria-current="page" th:href="@{/mypage/wishlist/{userId}(userId=${session.user})}">찜 목록</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active atag" id="registration" aria-current="page" href="/room/registration">방 내놓기</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active atag" aria-current="page" th:href="@{/room/management/{userId} (userId=${session.user})}">매물 관리</a>
                    </li>

                    <li class="nav-item" th:if="${session.user!=null}">
                        <a class="nav-link active atag" aria-current="page" th:href="@{/contract/{userId} (userId=${session.user})}">계약서 관리</a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>
    <style>
        .nav-item {
            padding-left: 10px;
        }

        .error_div {
            display: none;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script th:inline="javascript">
        $('.nav-link.active.atag').on('click', function (event) {
            event.preventDefault(); // 기본 동작 취소
            let userId = [[${session.user}]];

            if (userId != null) {
                if($(this).attr("id")==="registration"){

                    $.ajax({
                        url:"/user/registration/check/"+userId,
                        type:"get",

                    }).done(function(result){
                       if(!result){
                           Swal.fire({
                               title: '매물을 등록하기 위해서는 <br>프로필을 작성해 주세요.',
                               icon: null,
                               showCancelButton: true,
                               confirmButtonText: '마이페이지 이동',
                               confirmButtonColor: `#000`,
                               cancelButtonText:'취소',

                           }).then((result) => {
                               if (result.isConfirmed) {
                                   location.href = "/mypage/account/"+userId;
                               }
                               else{
                                   return;
                               }
                           });
                       }else{
                           location.href ="/room/registration";
                       }
                    })
                        .fail(function (err){
                            alert(err);
                        });
                }else{
                    location.href = $(this).attr('href');
                }

            } else {
                $('#loginButton').click();
            }
        });
    </script>
</header>
<div th:fragment="header_modal">
    <script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
            integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx"
            crossorigin="anonymous"></script>


    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Login</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 px-3">
                        <div class="bg-danger p-3 form-control text-center text-danger bg-opacity-10 error_div"
                             id="login_error" th:text="#{loginError}"></div>
                    </div>
                    <form id="login_form">
                        <div class="mb-3 px-3">
                            <input type="text" class="form-control" id="loginEmail" name="loginEmail"
                                   placeholder="이메일 또는 아이디">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="password" class="form-control" id="loginPw" name="loginPw" placeholder="암호">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="submit" class="form-control btn btn-secondary" value="로그인">
                        </div>
                    </form>
                    <div class="mb-3 px-3">
                        <a href="#" onclick="kakaoLogin()"><img th:src="@{/img/kakao_login_medium_wide.png}" width="100%"></a>

                    </div>
                    <div class="mb-3 px-3" style="text-align: center">
                        <button type="button" class="nav-link active" data-bs-toggle="modal" data-bs-target="#findIdModal"
                                data-bs-whatever="@mdo" style="display: inline">아이디 찾기 |
                        </button>
                        <button type="button" class="nav-link active" data-bs-toggle="modal" data-bs-target="#findPwModal"
                                data-bs-whatever="@mdo" style="display: inline">비밀번호 찾기
                        </button>
                    </div>

                </div>
                <div class="modal-footer">
                    <div class="px-3">
                        <button type="button" class="nav-link active" data-bs-toggle="modal" data-bs-target="#joinModal"
                                data-bs-whatever="@mdo">회원가입
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="findIdModal" tabindex="-1" aria-labelledby="findIdModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">ID 찾기</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="id-form">
                        <div class="mb-3 px-3">
                            <div class="row g-3">
                                <div class="col">
                                    <select class="form-select"  aria-label="phoneNumber">
                                        <option selected value="010">010</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <input type="tel" name="id_exTel" class="form-control">
                                </div>

                                <div class="col">
                                    <input type="tel" name="id_exTel" class="form-control">
                                </div>

                                <div class="col">
                                    <input type="button" id="id_send_btn" class="btn btn-dark" value="인증번호 발송">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-3">
                                    <input id="id_valid_number" class="form-control">
                                </div>
                                <div class="col-3">
                                    <input type="button" id="id_valid_btn" name="id_valid_btn" class="btn btn-dark" value="인증하기">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="findPwModal" tabindex="-1" aria-labelledby="findPwModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5">Join</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="pw-form">
                        <div class="mb-3 px-3">
                            <div class="row">
                                <input class="form-control" name="find_email" placeholder="이메일 또는 아이디">
                            </div>

                            <div class="row g-3">
                                <div class="col">
                                    <select class="form-select"  aria-label="phoneNumber">
                                        <option selected value="010">010</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <input type="tel" name="pw_exTel" class="form-control">
                                </div>

                                <div class="col">
                                    <input type="tel" name="pw_exTel" class="form-control">
                                </div>

                                <div class="col">
                                    <input type="button" id="pw_send_btn" class="btn btn-dark" value="인증번호 발송">
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-3">
                                    <input id="pw_valid_number" class="form-control">
                                </div>
                                <div class="col-3">
                                    <input type="button" id="pw_valid_btn" name="pw_valid_btn" class="btn btn-dark" value="인증하기">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>

        </div>
    </div>

    <div class="modal fade" id="joinModal" tabindex="-1" aria-labelledby="joinModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel2">Join</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3 px-3">
                        <div class="bg-danger p-3 form-control text-center text-danger bg-opacity-10 error_div"
                             id="join_error"> 검증 에러
                        </div>
                    </div>
                    <form id="join_form">
                        <div class="mb-3 px-3">
                            <input type="text" class="form-control" id="name" name="name" placeholder="이름">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="text" class="form-control" id="joinEmail" name="joinEmail"
                                   placeholder="이메일 또는 아이디">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="password" class="form-control" id="joinPw" name="joinPw"
                                   placeholder="암호 8자리 이상(문자+숫자+특수기호)">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="password" class="form-control" id="pw2" name="pw2" placeholder="암호확인">
                        </div>
                        <div class="mb-3 px-3">
                            <input type="submit" class="form-control btn btn-secondary" value="가입">
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>


    <script th:inline="javascript">
        function swal(title) {
            Swal.fire({
                title: title,
                icon: null,
                showCancelButton: false,
                confirmButtonText: '확인',
                confirmButtonColor: `#aaa`
            })
        }

        //id찾기
        $("#id_send_btn").click(function (){
            let tel="010";
            $('[name="id_exTel"]').each(function (){
                tel+=$(this).val();
            })
            if(tel.length!=11){
                swal("전화번호의 형식이 <br> 알맞지 않습니다.")
                return;
            }
            $.ajax({
                url:"/find/send_sms_email",
                type:"POST",
                data:{
                    tel:tel
                }
            }).done(function (result){
                if(result==0){
                    swal("유효하지 않은 전화번호입니다.")
                }
                else{
                    $('[name="id_exTel"]').prop('disabled',true);
                    swal("인증번호 발송");

                    $("#id_valid_btn").click(function (){
                        let number=$("#id_valid_number").val();

                        if(number!=result){
                            swal("인증번호가 일치하지 않습니다.")
                        }
                        else{
                            $.ajax({
                                url:"/find/email",
                                type:"POST",
                                data:{
                                    tel:tel
                                }
                            }).done(function (){
                                swal("고객님의 전화번호로 <br> 아이디가 발송되었습니다.")
                                $("#findIdModal").display='none';
                            })
                        }
                    })
                }
            })

            })

        //pw 찾기
        $("#pw_send_btn").click(function (){
            let tel="010";
            $('[name="pw_exTel"]').each(function (){
                tel+=$(this).val();
            })
            let email = $('[name="find_email"]').val();

            if(tel.length!=11){
                swal("전화번호의 형식이 <br> 알맞지 않습니다.")
                return;
            }
            $.ajax({
                url:"/find/send_sms_pw",
                type:"POST",
                data:{
                    tel:tel,
                    email:email
                }
            }).done(function (result){
                if(result==0){
                    swal("이메일이나 전화번호가 <br> 유효하지 않습니다.")
                }
                else{
                    $('[name="pw_exTel"]').prop('disabled',true);
                    $('[name="find_email"]').prop('disabled',true);
                    swal("인증번호 발송");

                    $("#pw_valid_btn").click(function (){
                        let number=$("#pw_valid_number").val();

                        if(number!=result){
                            swal("인증번호가 일치하지 않습니다.")
                        }
                        else{
                            $.ajax({
                                url:"/find/pw",
                                type:"POST",
                                data:{
                                    tel:tel,
                                    email:email
                                }
                            }).done(function (){
                                swal("고객님의 전화번호로 <br> 임시비밀번호가 발송되었습니다.")
                                $("#findPwModal").display='none';
                            })
                        }
                    })
                }
            })

        })





        // SDK를 초기화 합니다. 사용할 앱의 JavaScript 키를 설정해야 합니다.
        Kakao.init('aad77ce5fb25c098c085b83a13dbad40');

        function kakaoLogin() {

            Kakao.Auth.authorize({
                redirectUri: `http://`+window.location.host+`/kakao/login`
            })

        }




        function validEmail(email) {
            let check = /\S+@\S+\.\S+/;
            return check.test(email);
        }

        function validPw(pw) {
            let check = /^(?=.*[A-Za-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/
            return check.test(pw);
        }

        $('#join_form').submit(function (e) {
            e.preventDefault();
            const formData = new FormData(this);
            let err = '';
            let name = formData.get('name');
            let joinEmail = formData.get('joinEmail');
            let joinPw = formData.get('joinPw');
            let pw2 = formData.get("pw2");

            if (name == '') {
                err = [[#{name}]];
            } else if (!validEmail(joinEmail)) {
                err = [[#{joinEmail}]];
            } else if (!validPw(joinPw)) {
                err = [[#{joinPw}]];
            } else if (joinPw != pw2) {
                err = [[#{notAccordPw}]];
            }

            if (err != '') {
                $('#join_error').show();
                $('#join_error').text(err);
                return;
            }
            $.ajax({
                type: 'POST',
                url: '/join',
                data: formData,
                dataType: 'text',
                processData: false,
                contentType: false
            })
                .done(function (data) {
                    let result = data;
                    if (data == "ok") {
                        Swal.fire({
                            title: '가입이 완료되었습니다. <br> 로그인 해주세요',
                            icon: null,
                            showCancelButton: false,
                            confirmButtonText: '확인',
                            confirmButtonColor: `#aaa`
                        }).then((result) => {
                            if (result.isConfirmed) {
                                location.href = "/";
                            }
                        });
                    } else {
                        $('#join_error').show();
                        $('#join_error').text([[#{duplicateEmail}]]);

                    }
                })
                .fail(function (error) {
                    alert(error);
                })
        })

        $('#login_form').submit(function (e) {

            e.preventDefault();
            const formData = new FormData(this);

            $.ajax({
                type: 'POST',
                url: '/login',
                data: formData,
                dataType: 'json',
                processData: false,
                contentType: false
            })
                .done(function (data) {
                    if (data) {
                        location.href = "/";
                    } else {
                        $('#login_error').show();
                    }
                })
                .fail(function (error) {

                })
        })


    </script>
</div>

</body>
</html>

