<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>contract</title>




     <style>

         .p{
             padding: 1px;
         }

         .table-bordered{

             border-collapse: collapse;
             width: 100%;
         }
         .border{
             border: 1px solid black;
         }


         th, td {
             border: 1px solid black;
            padding: 3px;

         }


/*    td[colspan="1"], th[colspan="1"] {
        width: 10%;
    }
    td[colspan="2"], th[colspan="2"] {
        width: 20%;
    }*/



</style>
</head>
<body>
    <h1 class="fw-bold" style="margin: 50px; text-align: center">부 동 산 임 대 차 계 약 서</h1>

    <div class="container border" style="margin-left: 20%; margin-right: 20%; padding:0px" th:object="${contractForm}">
        <div class="border p">
            임대인과 임차인 쌍방은 아래 표시 부동산에 관하여 다음 계약내용과 같이 임대차 계약을 체결한다.
        </div>
        <div class="border p">1. 부동산의 표시</div>
        <div class="row"></div>
        <table class="table table-bordered">
            <tr>
                <th>소재지</th>
                <td colspan="9">
                    <div class="data-text" th:text="*{roomAddress}" ></div>
                </td>
            </tr>
            <tr>
                <th colspan="1">토지</th>
                <th colspan="1">지목</th>
                <td colspan="2">
                    <div class="data_text" th:text="*{designation}">
                    </div>
                </td>
                <th colspan="1">대지권 비율</th>
                <td colspan="2">
                    <div class="data-text" th:if="*{landRightsRatio}" th:text="*{landRightsRatio}">

                    </div>
                </td>
                <th colspan="1">면적</th>
                <td colspan="2">
                    <span class="data-text" th:text="*{landSize+'m'}">

                    </span><sup>2</sup>
                </td>
            </tr>
            <tr>
                <th colspan="1">건물</th>
                <th colspan="1">구조</th>
                <td colspan="2">
                    <div class="data-text" th:text="*{structureType}">
                    </div>
                </td>
                <th colspan="1">용도</th>
                <td colspan="2">
                    <div class="data-text" th:text="*{purpose}">
                        단독주택
                    </div>
                </td>
                <th colspan="1">면적</th>
                <td colspan="2">
                    <span class="data-text" th:text="*{buildingSize+'m'}">
                    </span><sup>2</sup>
                </td>
            </tr>
            <tr>
                <th colspan="2">임대할 부분</th>
                <td colspan="5">
                    <div class="data-text" th:text="*{rentalArea}">
                    </div>
                </td>
                <th colspan="1">면적</th>
                <td colspan="2">
                    <span class="data-text" th:text="*{roomSize+'m'}"></span><sup>2</sup>
                </td>
            </tr>
        </table>

        <div class="border p">
            <div>2. 계약 내용</div>
            <div>제 1 조 위 부동산의 임대차에 있어서 임차인은 임대인에게 임차 보증금 및 차임을 아래와 같이 지급한다.</div>
        </div>

        <table class="table table-bordered">
            <tr>
                <th>보증금</th>
                <td colspan="1" style="border-right: none">
                    금 <span class="data=text" th:text="*{depositKo}"></span>
                </td>
                <td colspan="5" style="border-left: none">
                    원정 ( <span class="data-text" th:text="*{#numbers.formatInteger(deposit,3,'COMMA')}"></span> )
                </td>
            </tr>
            <tr>
                <th colspan="1">계약금</th>
                <td colsapn="2" style="border-right: none">
                    금 <span class="data-text" th:text="*{earnestMoneyKo}"></span>
                </td>
                <td colspan="2" style="border-left: none">
                    <span class="data-text" th:text="*{#numbers.formatInteger(earnestMoney,3,'COMMA')}"></span>
                    원정은 계약시에 지불하고 영수함.
                </td>
                <td colspan="1">영수인</td>
                <td colspan="1" th:text="*{lessorName}"></td>
            </tr>
            <tr>
                <th:block th:if="*{installmentPayment}">
                <th colspan="1">중도금</th>
                <td colsapn="2" >
                    금 <span class="data-text" th:text="*{installmentPaymentKo}"></span>
                </td>
                <td colspan="4" >
                    <span class="data-text" th:text="*{#numbers.formatInteger(installmentPayment,3,'COMMA')}"></span>
                    원정
                    <span class="data-text" th:text="*{#temporals.format(midPaymentDate,'yyyy년 MM월 dd일')}"></span>
                          에 지불하며
                </td>
                </th:block>
            </tr>

            <tr>
                <th colspan="1">잔금</th>
                <td colsapn="2" >
                    금 <span class="data-text" th:text="*{finalMoneyKo}"></span>
                </td>
                <td colspan="4" >
                    <span class="data-text" th:text="${#numbers.formatInteger(contractForm.finalMoney,3,'COMMA')}"></span>
                    원정
                    <span class="data-text" th:text="*{#temporals.format(finalMoneyDate,'yyyy년 MM월 dd일')}"></span>
                    에 지불한다.
                </td>
            </tr>

            <th colspan="1">차임</th>
            <td colsapn="2" >
                금 <span class="data-text" th:text="*{monthlyRentKo}"></span>
            </td>
            <td colspan="4" >
                <span class="data-text" th:text="*{#numbers.formatInteger(monthlyRent,3,'COMMA')}"></span>
                원정은 매월 <span class="data-text" th:text="*{monthlyRentDate}"></span>일에
                          <span class="data-text" th:text="*{monthlyRentType}"></span>로 지급한다.
            </td>
        </table>

        <div class="row p">
            <div class="col-1">
                제2조
            </div>
            <div class="col">
                임대인은 위 부동산을 임대차 목적으로 사용 할 수 있는 상태로 하여
                <span class="data-text" th:text="*{#temporals.format(moveInDate,'yyyy년 MM월 dd일')}"></span>
                까지 임차인에게 인도하며,
                임대차 기간은 인도일로부터 <span class="data-text" th:text="*{contractEndDate}"></span> 까지로 한다.
            </div>
        </div>
        <div class="row p">
            <div class="col-1">
                제3조
            </div>
            <div class="col">
                [용도변경 및 전대 등] 임차인은 임대인의 동의 없이는 위 부동산의 용도나 구조 등을 변경하거나 전대, 임차권 양도 또는
                담보 제공을 하지 못하며 임대차 목적 이외의 용도에 사용할 수 없다.
            </div>
        </div>
        <div class="row p">
            <div class="col-1">
                제4조
            </div>
            <div class="col">
                [계약의 해지] 임차인의 차임연체액이 2기의 달하거나 제3조에 위반했을 때는 임대인은 본 계약을 해지할 수 있다.
            </div>
        </div>
        <div class="row p">
            <div class="col-1">
                제5조
            </div>
            <div class="col">
                [계약의 종료] 임대차 계약이 종료한 경우 임차인은 위 부동산을 원상으로 회복하여 임대인에게 반환하며,
                임대인은 보증금을 임차인에게 반환한다.
            </div>
        </div>
        <div class="row p">
            <div class="col-1">
                제6조
            </div>
            <div class="col">
                [계약의 해제] 임차인이 임대인에게 중도금(중도금이 없을때 에는 잔금)을 지불할 떄까지는
                임대인은 계약금의 배액을 상환하고, 임차인은 계약금을 포기하고 이 계약을 해제할 수 있다.
            </div>
        </div>
        <div class="row p">
            <div class="col-1">
                제7조
            </div>
            <div class="col">
                [채무 불이행과 손해배상] 임대인 또는 임차인에게 본 계약상의 채무불이행이 있었을 경우에는 그 상대방은
                불이행을 한 자에 대하여 서면으로 이행을 최고하고 본계약을 해제할 수 있다.
                그리고 계약 당사자는 계약 해제에 따른 손해배상을 각각 상대방에 대하여 청구할 수 있으며,
                별도의 약정이 없는 한 계약금을 손해배상의 기준으로 본다.
            </div>
        </div>

        <div class="border">
            <div>[특약사항]</div>
            <ul style="margin-bottom: 100px">
                <li class="data-text" th:each="data:*{specialAgreement}" th:text="${data}"></li>
            </ul>

            <div class="p">
                본 계약을 증명하기 위하여 계약 당사자가 이의없음을 확인하고 각자 서명,날인 한다.
            </div>
        </div>
        <table class="table table-bordered">
            <tr>
                <th rowspan="2" colspan="1" class="text-center">임대인</th>
                <th colspan="1">주소</th>
                <td>
                    <div colspan="8" class="data-text" th:text="*{lessorAddress}"></div>
                </td>
            </tr>
            <tr>
                <th colspan="1">주민번호</th>
                <td colspan="2">
                    <div class="data-text" th:text="|*{lessorResidentNumber.substring(0,6)}-*{lessorResidentNumber.substring(6,13)}|"></div>
                </td>
                <th colspan="1">전 화</th>
                <td colspan="2">
                    <div class="data-text" th:text="|*{lessorPhone.substring(0,3)}-*{lessorPhone.substring(3,7)}-*{lessorPhone.substring(7,11)}|"></div>
                </td>
                <th colspan="1">이름</th>
                <td colspan="2">
                    <div class="d-flex justify-content-between">
                        <span class="data-text align-self-start" th:text="*{lessorName}"></span>
                        <span class="align-self-end">(인)</span>
                    </div>
                </td>
            </tr>

            <tr>
                <th rowspan="2" colspan="1" class="text-center">임차인</th>
                <th colspan="1">주소</th>
                <td>
                    <div colspan="1" class="data-text" th:text="*{tenantAddress}"></div>
                </td>
            </tr>
            <tr>
                <th colspan="1">주민번호</th>
                <td colspan="2">
                    <div class="data-text" th:text="|*{tenantResidentNumber.substring(0,6)}-*{tenantResidentNumber.substring(6,13)}|"></div>
                </td>
                <th colspan="1">전 화</th>
                <td colspan="2">
                    <div class="data-text" th:text="|*{tenantPhone.substring(0,3)}-*{tenantPhone.substring(3,7)}-*{tenantPhone.substring(7,11)}|"></div>
                </td>
                <th colspan="1">이름</th>
                <td colspan="2">
                    <div class="d-flex justify-content-between">
                        <span class="data-text align-self-start" th:text="*{tenantName}"></span>
                        <span class="align-self-end">(인)</span>
                    </div>
                </td>
            </tr>

        </table>
    </div>

</body>
</html>

